/* // index // */
.menu-container {
  padding-top: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.nav-link.dropdown-toggle {
  color: #000;
  font-size: 22px;
}
.nav-link {
  color: #000;
  font-size: 22px;
}
.navbar-brand {
  margin-right: 0;
}
.sign-btn {
  font-weight: 18px;
}

.carousel {
  margin-bottom: 60px;
}
h2 {
  margin-bottom: 35px;
  text-align: center;
}
li {
  list-style: none;
}
/* .collection-cards {
  margin-bottom: 60px;
  background-color: rgba(200, 211, 207, 0.635);
  padding-top: 30px;
  padding-bottom: 30px;
} */

.benefits {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}
.benefits-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}
.benefit-item:not(:last-child) {
  margin-right: 50px;
}
.benefit-item__img {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.benefit-item__text {
  text-align: center;
  font-size: 20px;
}
.benefit-item {
  text-align: center;
  flex-basis: calc(100% / 4 - 50px);
}
.best-sellers {
  background-color: rgba(200, 211, 207, 0.635);
  padding-top: 30px;
  padding-bottom: 30px;
}
.best-sellers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.best-sellers__card {
  margin-bottom: 30px;
  border-radius: 10px;
}
.best-sellers__card:not(:last-child) {
  margin-right: 15px;
}
.rewiews-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.rewiews-wrap {
  margin-bottom: 15px;
}
.d-grid {
  margin-bottom: 30px;
}
.review-card {
  padding: 10px;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.footer-container {
  background-color: rgba(200, 211, 207, 0.635);
  padding-top: 50px;
  padding-bottom: 50px;
}
.list-inline-item:not(:last-child) {
  margin-right: 20px;
}

/* //how it works// */
.steps-hero {
  margin-bottom: 60px;
}
.steps-container {
  margin-bottom: 80px;
}
.steps-card__wrapper {
  display: flex;
  margin-bottom: 40px;
}
.steps-image:nth-child(odd) {
  margin-right: 40px;
}
.steps-image:nth-child(even) {
  margin-left: 40px;
}
.steps-card__item {
  display: flex;
}

/* //category// */
.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.card-categories {
  border-radius: 10px;
  margin-bottom: 15px;
}
.card-categories:not(:last-child) {
  margin-right: 15px;
}
.card-categories__link {
  text-decoration: none;
}
.card-title {
  color: #000;
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

/* //product// */

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.product-card {
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 10px;
}
.products__item {
  text-decoration: none;
  color: #000;
  margin-right: 15px;
  margin-bottom: 20px;
}
.product-description {
  margin-right: 40px;
  display: flex;
  /* width: 60%; */
}

/* .product-item__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
} */

/* .product-item__pictures {
  margin-right: 10px;
  margin-bottom: 10px;
} */
.product-image {
  margin-bottom: auto;
  margin-right: 40px;
}
/* .product-text {
  display: flex;
  flex-wrap: wrap;
} */
.product-price {
  text-align: left;
  margin-bottom: 25px;
}
.product-title {
  margin-bottom: 12px;
}
.product-options__text {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}
.product-options__wrap {
  position: relative;
}
.product-options__input {
  margin-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}
.product-options__comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 60px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
}
.product-options__comment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.product-options__option {
  font-style: 8px;
  font-weight: bold;
  margin-bottom: 3px;
}
.product-btn {
  justify-content: start;
}
.checkout-link {
  text-decoration: none;
}
/* signup, login */

.signup-link {
  text-decoration: none;
}
.signup-container,
.login-container,
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.text-center {
  margin: 0;
}
.signup-card,
.login-card {
  padding: 40px;
}
.signup-title,
.login-title,
.user-title,
.add-product-title {
  margin-bottom: 15px;
}
.register-btn,
.login-btn {
  font-size: 15px;
  margin-bottom: 20px;
}
.signup-text,
.login-text {
  font-size: 14px;
}

u {
  color: #fff;
}

/* checkout */
.checkout-container {
  border: 1px solid #d1d8de;
  border-radius: 15px;
  margin-bottom: 40px;
  padding-top: 40px;
}
.checkout-card {
  border: none;
  padding-top: 40px;
}

/* user  */
.user-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.user-border {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-border:hover {
  border-bottom: 1px solid #dee2e6;
}
.user-outline {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-left: 2px;
}
.checkout-link {
  text-decoration: none;
}

/* add-product */

.add-product-form_list {
  margin-bottom: 16px;
}
.product-text_label.form-label {
  margin-bottom: 6px;
}
.radio-inline {
  margin-right: 25px;
}
.add-btn {
  margin-top: 20px;
}
.form-control.product-image {
  margin-bottom: 10px;
}
.add-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.add-product-card {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}